.breadCrumb {
   font-size: 14px;
   color: #888;
   margin: 20px 0;
}

.faqContainer {
   padding-bottom: 40px;
}

.mainTitle {
   font-size: 28px;
   color: #4a3e3e;
   margin-bottom: 40px;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.faqList {
   display: flex;
   flex-direction: column;
   gap: 12px;
   margin-bottom: 70px;
}

.faqItem {
   background: #fff;
   border-radius: 10px;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.04);
   transition: all 0.3s ease;
}

.questionRow {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 22px 30px;
   cursor: pointer;
}

.questionText {
   font-size: 17px;
   font-weight: 700;
   color: #4a3e3e;
   margin: 0;
   max-width: 90%;
   transition: color 0.3s ease;
}

.faqItem.active .questionText {
   color: #6fb15a;
}

.iconWrapper {
   background: #f1f1f1;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   transition: 0.3s ease;
}

.icon {
   color: #6fb15a;
   transition: transform 0.3s ease, color 0.3s ease;
}

.faqItem.active .iconWrapper {
   background: #6fb15a;
}

.faqItem.active .icon {
   color: #fff;
   transform: rotate(90deg);
}

/* Эффект выезда текста */
.answerWrapper {
   display: grid;
   grid-template-rows: 0fr;
   transition: grid-template-rows 0.3s ease-out;
}

.faqItem.active .answerWrapper {
   grid-template-rows: 1fr;
}

.answerContent {
   overflow: hidden;
}

.answerContent p {
   padding: 0 30px 25px 30px;
   margin: 0;
   color: #666;
   line-height: 1.6;
   font-size: 18px;
}

/* --- АДАПТИВНОСТЬ --- */
@media (max-width: 768px) {
   .mainTitle {
      font-size: 20px;
      margin-bottom: 25px;
   }

   .questionRow {
      padding: 18px 20px;
   }

   .questionText {
      font-size: 15px;
   }

   .answerContent p {
      padding: 0 20px 20px 20px;
      font-size: 14px;
   }
}